<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>number of student</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <h1>welcome to the IIIT VADODARA</h1>
    <h2>number of students are <%= count %></h2>
    <a href="http://localhost:8080/user">show users</a>
  </body>
</html>
